
<h3 class="card-title"><%= recipe.name %> </h3>
<img src="<%= recipe.picture  %> " class="card-img-top" alt="...">
<div class="card-body">
  <p class="card-text"> Serving Size: <%= recipe.servings %> </p>
  <p class="card-text"> Prep Time (in minutes): <%= recipe.preptime %> </p>
  <% if (isFavorite) { %>
    <% if (isFavorite.includes(recipe.id)) { %>
      <form method="POST" action="/user/favorites/<%=recipe.id%>/?_method=DELETE">
        <button type="submit" class="btn btn-success">Remove from Favorites</button>
      </form> 
    <% } else { %>
      <form method="POST" action="/user/favorites/<%=recipe.id%>">
        <button type="submit" class="btn btn-success">Add to Favorites</button>
      </form>
    <% } %>
  <% } %>
  <form method="GET" action="/recipe/details/<%=recipe.id%>">
    <button type="submit" class="btn btn-success">See more details</button>
  </form>

</div>
