<h1>Your meals here</h1>
<% console.log("////////", day) %>
<% day.sort((a,b) => a-b) %> 
<% recipesList.forEach((recipe, index)=> { %>
    <div>
        <% console.log("*********", day[index]) %>
        <% if (day[index] === 1) { %>
            <h2>Monday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
        <% if (day[index] === 2) { %>
            <h2>Tuesday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
        <% if (day[index] === 3) { %>
            <h2>Wednesday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
        <% if (day[index] === 4) { %>
            <h2>Thursday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
        <% if (day[index] === 5) { %>
            <h2>Friday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
        <% if (day[index] === 6) { %>
            <h2>Saturday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
        <% if (day[index] === 7) { %>
            <h2>Sunday:</h2>
        <%- include('../partials/recipeCard', {recipe:recipe}) %>
        <% }%>
    </div>
<% }) %> 


