<div>
  <h2>How To Make It!</h2>
  <hr>
  <div class="row" style="display: flex; flex-direction: row; justify-content: space-around;">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 34px;"><%= recipe.name %> </h5>
          <img src="<%= recipe.picture %> " alt="yummy photo of recipe">
          <ul>
            <span>You will need these ingredients:</span>
            <%  ingredients.forEach(ingredients =>  { %> 
            <li style="list-style-type: none;"><%= ingredients.dataValues.name %> - <%= ingredients.dataValues.quantity %></li>
              <% }) %> 
          </ul>  
          <ol>
              <% instructions.forEach(instruction => { %>
                  <li><%= instruction.dataValues.step %></li>
              <% }) %>
          </ol>
            <% if (isFavorite) { %>
              <% if (isFavorite.includes(recipe.id)) { %>
                <form method="POST" action="/user/favorites/<%=recipe.id%>/?_method=DELETE">
                  <button type="submit" class="btn btn-success">Remove from Favorites</button>
                </form> 
              <% } else { %>
                <form method="POST" action="/user/favorites/<%=recipe.id%>">
                  <button type="submit" class="btn btn-success">Add to Favorites</button>
                </form>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
</div>

