<div>
  <h2>Let's Make It!</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %> </h5>
          <img src="<%= recipe.picture %> " alt="yummy photo of recipe">
          <ul>
            <li style="list-style-type:none; font-size: 20px;"> Ingredients and Quantity</li>
            <%  ingredients.forEach(ingredients =>  { %> 
            <li style="list-style-type: square;"> <%= ingredients.dataValues.name %> <%= ingredients.dataValues.quantity %> </li>
              <% }) %> 
          </ul>  
          <ol>
              <% instructions.forEach(instruction => { %>
                  <li style="list-style-type: none;"> <%= instruction.dataValues.stepNumber %>. <%= instruction.dataValues.step %></li>
              <% }) %>
          </ol>
            <% if (isFavorite) { %>
              <% if (isFavorite.includes(recipe.id)) { %>
                <form method="POST" action="/user/favorites/<%=recipe.id%>/?_method=DELETE">
                  <button type="submit" class="btn btn-success">Remove from Favorites</button>
                </form> 
              <% } else { %>
                <form method="POST" action="/user/favorites/<%=recipe.id%>">
                  <button type="submit" class="btn btn-success">Add to Favorites</button>
                </form>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
</div>

